<div class="flex-main">
  <div class="banner-main">
    <h2>Make Your Goals <span class="green-text">Reality</span></h2>
    <img class="img-artwork vert-move" src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562638680/group_3x_jvunnq.png" alt="">
  </div>
  <div class="form-main">
    <form class="" action="mainpage.html" method="post">
      <input class="form-textfield" type="text" name="" value="Name Your Journal...">
      <input class="form-submit" type="submit" name="" value="START YOUR JOURNEY">
    </form>
  </div>
</div>
