<div class="container-main grid-main">
  <div class="card-journal background">
    <a>New</a>
    <h2>Tomorrow</h2>
  </div>

<div class="card-journal background">
  <a>New</a>
  <h2>Tomorrow</h2>
</div>
</div>
