
<div class="card-title">
<h2>My Journals</h2>
</div>
<div class="container-main grid-main">
<% @journals.each do |journal| %>
<div class="card-journal background">
<h3><%= journal.title.split.map(&:capitalize).join(' ') %></h3>
</div>
<% end %>
</div>
