.button-small-red {
margin-top: 40px;
}

.button-small-red a {
  font-size:16px;
  padding:25px 50px;
  background-color: #EF959D;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius:4px;
}

.button-small-red a:hover {
  background-color:#DA888F;
  transition:0.3s;
}

.button-small-blue {
margin-top: 100px;
}

.button-small-blue a {
  font-size:16px;
  padding:25px 50px;
  background-color: #B1DDF1;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius: 4px;
}

.button-small-blue a:hover {
  background-color:#B8E0F2;
  transition:0.3s;
}

/* Button Large */

.button-large-red {
margin-top: 100px;
}

.button-large-red a {
  font-size:16px;
  padding:25px 80px;
  background-color: #EF959D;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius: 4px;
}

.button-large-red a:hover {
  background-color:#DA888F;
  transition:0.3s;
}

/* Button Blue */

.button-large-blue {
margin-top: 100px;
}

.button-large-blue a {
  font-size:16px;
  padding:25px 80px;
  background-color: #B1DDF1;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius: 4px;
}

.button-large-blue a:hover {
  background-color:#B8E0F2;
  transition:0.3s;
}

