.card-journal {
  height:200px;
  width:100%;
  position:relative;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-weight:400;
  border-radius:4px;
  background-color:#FFFFFF;
}

.card-title h2 {
  margin-bottom:40px;
}

.card-journal h4 {
  font-weight:200;
}

.card-journal h3 {
  margin:0 0 10px 0;
}

.card-journal a {
  position:absolute;
  bottom: 5px;
  right: 5px;
  margin:0;
  font-weight:200;
  margin:0;
}

.background {
  background-size:100%;
  background-image:url("https://res.cloudinary.com/doem0zjpf/image/upload/v1562638680/group_3x_jvunnq.png");

}

.card-journal {

}
